tic-tac-toe-api/bin/Debug/netcoreapp3.1/appsettings.Development.json
tic-tac-toe-api/bin/Debug/netcoreapp3.1/appsettings.json
tic-tac-toe-api/bin/Debug/netcoreapp3.1/tic-tac-toe-api.deps.json
tic-tac-toe-api/bin/Debug/netcoreapp3.1/tic-tac-toe-api.dll
tic-tac-toe-api/bin/Debug/netcoreapp3.1/tic-tac-toe-api.exe
tic-tac-toe-api/bin/Debug/netcoreapp3.1/tic-tac-toe-api.pdb
tic-tac-toe-api/bin/Debug/netcoreapp3.1/tic-tac-toe-api.runtimeconfig.dev.json
tic-tac-toe-api/bin/Debug/netcoreapp3.1/tic-tac-toe-api.runtimeconfig.json
tic-tac-toe-api/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
tic-tac-toe-api/obj/tic-tac-toe-api.csproj.nuget.cache
tic-tac-toe-api/obj/tic-tac-toe-api.csproj.nuget.dgspec.json
tic-tac-toe-api/obj/tic-tac-toe-api.csproj.nuget.g.props
tic-tac-toe-api/obj/tic-tac-toe-api.csproj.nuget.g.targets
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.AssemblyInfo.cs
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.AssemblyInfoInputs.cache
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.assets.cache
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.csproj.FileListAbsolute.txt
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.csprojAssemblyReference.cache
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.dll
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.exe
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.genruntimeconfig.cache
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.MvcApplicationPartsAssemblyInfo.cache
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.pdb
tic-tac-toe-api/obj/Debug/netcoreapp3.1/tic-tac-toe-api.RazorTargetAssemblyInfo.cache
tic-tac-toe-api/obj/Debug/netcoreapp3.1/staticwebassets/tic-tac-toe-api.StaticWebAssets.Manifest.cache
tic-tac-toe-api/obj/Debug/netcoreapp3.1/staticwebassets/tic-tac-toe-api.StaticWebAssets.xml
.vs/tic-tac-toe-api/config/applicationhost.config
.vs/tic-tac-toe-api/v16/.suo
.vs/tic-tac-toe-api/v16/Server/sqlite3/db.lock
.vs/tic-tac-toe-api/v16/Server/sqlite3/storage.ide
.vs/tic-tac-toe-api/v16/Server/sqlite3/storage.ide-shm
.vs/tic-tac-toe-api/v16/Server/sqlite3/storage.ide-wal
